@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Code+Pro:ital@1&display=swap');


:root{
    --header-color:#3dffae ;
    --text-color:#fff;
    --background-color:#2C2D32;
    --background-color2:#323338;
    --leter-color:white;
    
    

}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Libre Baskerville', serif; 
    
}



/*==============HEADER==============*/
header{
    top: 0;
    position: sticky;
    z-index: 1;
    
}

.navbar{
    background: var(--header-color);
    
    

}

#profession{
    color: var(--background-color2);
    font-family:'Libre Baskerville', serif; ;
}



.navbar-nav li{
    margin-left: 15px;
}
.nav-item a{
    color: var(--background-color2);
    font-family:'Libre Baskerville', serif; ;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:small;
    border-radius: 15px;
}
.nav-item a:hover{
    border-radius: 15px;
    background-color: var(--background-color);
    color: white;
}

.nav-item a.active{
background: var(--text-color);
}
/*==============HEADER==============*/




/*==============HOME==============*/
.home-container{
    background: var(--background-color);
    height:100vh ;
    
}




.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--leter-color);
    font-weight: bold;

}
.iam{
    display: block;
    font-size: 4em;
    font-weight: 800;
    color: var(--leter-color);
}
.breve-info{
    font-weight: bold;
}

.multitext{
    color: var(--header-color);
    font-weight: bold;
    text-transform: capitalize;
}

.breve-info{
    margin-left: 15px;
    margin-bottom: 25px;
    color: var(--leter-color);
}

.click-info{
font-size: 14px;
font-weight: bold;
color: var(--leter-color);
}




#button-download{

    background: var(--header-color);
    color: var(--background-color);
    fill: rgb(255, 255, 255);
    padding: 3px 4px;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

#button-download span{
    padding: 5px;
    display: block;
    margin-left: 0.3em;
    transition: all .3s ease-in-out;
}

#button-download i{
    display: block;
    transform-origin: center center;
    transition: transform .3s ease-in-out;
}

#button-download:hover{
    background: var(--header-color);
}

#button-download:hover .svg-wrapper{
    transform: scale(1.25);
    transition: .5s linear;
}

#button-download:hover i{
    transform: translateX(1.5em) scale(1.1);
    fill: var(--background-color);
}

#button-download:hover span{
    opacity: 0;
    transition: .5s linear;
}

#button-download:active{
    transform: scale(0.95);
}




.networks-container{
    z-index: 0;
}

.list-networks li a{
    width: 50px;
    height: 50px;
    background-color: var(--background-color);
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--background-color);
    z-index: 1;
}


.list-networks li a .icon{
    position: relative;
    top: 6%;
    font-size: 33px;
    color: var(--leter-color);
    transition: .5s;
    z-index: 3;
}

.list-networks li a:hover .icon{
    color: #fff;
    transform: rotateY(360deg);
}

.list-networks li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }

  .list-networks a:hover:before {
    top: 0;
  }

  .list-networks li:nth-child(1) a:before{
    background: #3b5999;
  }

  .list-networks li:nth-child(2) a:before{
    background: #0A66C2;
  }

  .list-networks li:nth-child(3) a:before {
    background: #1877F2;
  }

  .list-networks li:nth-child(4) a:before {
    background: red;
  }


.img-home{
    position: absolute;
}

#avatar-home{
    height: 620px;
    transition:.4s ;
}



#avatar-home:hover{
    scale: 1.2;
}













  .mouse {
    width: 25px;
    height: 40px;
    border: 2px solid var(--header-color);
    border-radius: 60px;
    position: relative;
    overflow: hidden;
    
    
    
}

.mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--header-color);
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite
}




/*========================ABOUT ME SECTION========================*/

#hrAbout{
    width: 100%;
    height: 15px;
    background-color: var(--background-color2);
}


.about-me-container{
    background-color: #323338;
    height: 100vh;
}



#aboutMe{
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--header-color);
    transition: .3s;
}
#aboutMe:hover{
    letter-spacing: normal;
}


.title-soft-skills{
    color: var(--leter-color);
    
}


.soft-skill-card{
    width:360px ;
    height:60px ;
    background:var(--background-color);
    box-shadow: 0px 0px 15px 7px #3dffae ;
    transition: .4s;
}


.soft-skill-img{
    width: 80px;
}

.soft-skill-name{
    font-weight: bold;
    color: var(--leter-color);
  margin-left: 25px;
    font-size: 17px;
}


.soft-skill-card:hover{
    box-shadow: none;
}





.title-inf{
    font-size:35px;
    font-weight:500;
    color: var(--header-color);
}
.subtitles{
    text-align: left;
    font-weight: 900;
    color: var(--header-color);
    font-size: 20px;

}


.personal-info{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 540;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-align: left;
    text-wrap: balance;
}

#button-skills{
    border: 2px solid var(--header-color);
    position: relative;
    overflow: hidden;
    background-color: var(--background-color2);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 0;
    color: var(--header-color);

}

#button-skills::before{
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--header-color);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
#button-skills:hover::before{
    width: 105%;
}

#button-skills:hover{
    color: var(--background-color);
}























/*========================PROYECTS SECTION========================*/

#hrProyects{
    width: 100%;
    height: 15px;
    background-color: var(--background-color2);
}

.proyect-section{
    background: var(--background-color);
}

#title-proyects{
    display: inline-block;
    color: var(--header-color);
    letter-spacing: 5px;
    transition: .3s;
}

#title-proyects:hover{
    letter-spacing: normal;
}




.card-body{
    background:#43454b;
    
}

#title-card{
    color:var(--text-color);
}

.card-technology{
    color: var(--header-color);
}

.card-text{
    color: var(--text-color);
}




.button-view{

    display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--header-color);
}

.sign{
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign i{
    width: 17px;
    
  }

.word-view{    
    position: absolute;
    text-decoration: none;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--background-color);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;

  }

  .button-view:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }

  .button-view:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  .button-view:hover .word-view {
    font-size: 12px;
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  
  .button-view:active {
    transform: translate(2px ,2px);
  }













  .button-repository{

    display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(110, 59, 248);
}

.sign2{
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign2 i{
    width: 17px;
    color: var(--text-color);
  }

.word-repository{    
    position: absolute;
    text-decoration: none;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--background-color);
    font-size: 5px;
    font-weight: 600;
    transition-duration: .3s;

  }

  .button-repository:hover {
    width: 145px;
    border-radius: 40px;
    transition-duration: .3s;
  }

  .button-repository:hover .sign2 {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  .button-repository:hover .word-repository {
    font-size: 12px;
    opacity: 1;
    color: var(--text-color);
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  
  .button-repository:active {
    transform: translate(2px ,2px);
  }

.card-img-top-container{
    overflow: hidden;
}

.card-img-top{
    transition: .4s;
}
.card-img-top:hover{
    scale: 1.2;
}














/*========================SKILLS SECTION========================*/
#hrSkills{
    width: 100%;
    height: 15px;
    background-color: var(--background-color2);
    
}

.skills-section{
    background: var(--background-color2);
}
#title-skills{
    display: inline-block;
    color: var(--header-color);
    letter-spacing: 5px;
    transition: .3s;
}

#title-skills:hover{
    letter-spacing: normal;
}



.subtitle-skills{
    color: var(--header-color);
}
.text-skill{
    color: var(--text-color);
    padding-bottom: 50px;
}



.skill-card{
    width: 210px;
    height:110px;
    background-color:var(--header-color) ;
    border-radius: 7px;
    box-shadow: 0px 0px 25px 10px #50f5b0;
    transition: .7s;
}


.skill-card-body{
padding: 15px;

}

.png-skill{
    width: 50px;
    height: 50px;
   

}

.name-skill{
    font-size: 19px;
   font-weight: bold;
   color: var(--background-color2);

}

.nivel-skill{
    font-size: 15px;
    color: var(--background-color2);
    font-weight: bold;
}

.skill-card:hover .png-skill{
    animation: rotate 1s linear infinite;
    
}
.skill-card:hover{
   translate: 10px;
}



#button-studies{
    border: 2px solid var(--header-color);
    width: 107px;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color2);
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    transition: .3s;
    z-index: 0;
    color: var(--header-color);
}

#button-studies::before{
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%) rotate(45deg);
    background: var(--header-color);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#button-studies:hover::before{
    width: 105%;
}

#button-studies:hover{
    color: var(--background-color);
    font-weight: bold;
}



/*========================SKILLS SECTION========================*/










/*========================STUDIES SECTION========================*/
#hrStudies{
    width: 100%;
    height: 15px;
    background-color: var(--background-color2);
}


.studies-section{
    background: var(--background-color);
}

#title-studies{
    color: var(--header-color);
    letter-spacing: 5px;
    transition: .3s;

}

#title-studies:hover{
letter-spacing: normal;

}
.img-studies{
    width: 700px;
    transition: .6s;
   
}

.studies-img-container{
    width: 700px;
    height: 545px;
    overflow: hidden;
}


.img-studies:hover{
    scale: 1.2;
}









/*========================STUDIES SECTION========================*/











/*========================CONTACT SECTION========================*/
.title-contact{
    color: var(--header-color);
    letter-spacing: 5px;
}

.text-contact{
    color: white;
}

.gmail-contact{
    color: var(--header-color);
}

.form-container{
    background: var(--background-color);
    width: 750px;
    height: 620px;
    border-radius: 8px;
}



.text-comment{
    color: white;
}

#send-button{
    background: var(--background-color2);
    padding: 7px;
    color: var(--header-color);
    border-radius: 7px;
    border: 2px solid var(--header-color);
    cursor: pointer;
    transition: .4s;
}

#send-button:hover{
    box-shadow: 0px 0px 5px 5px var(--header-color);

}




.fa-paper-plane{
    color: var(--header-color);
    margin-left: 5px;
}


.contact-section{
    background: var(--background-color2);
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 14px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 14px;
    color: var(--header-color);
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 200;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--header-color), var(--header-color));
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 13px;
    color: var(--header-color);
    font-weight: 500;
  } */
  
  
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  } 

  





  .div-text-area{
    
    padding-top: 50px;
  }

  #text-area{
    resize: none;
    background: var(--background-color);
    border: 1px solid var(--header-color);
    border-radius: 7px;
    color: white;
    padding: 10px;
  }

  #text-area:focus{
    outline: none;
    border: 2px solid var(--header-color);
  }










/*========================CONTACT SECTION========================*/



/*========================KEYFRAMES========================*/
@keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }





@keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}



/*========================KEYFRAMES========================*/

/*========================MEDIAQUERYS========================*/

@media screen and (max-width:992px){
    .nav-item{
        margin-top: 5px;
    }
    .nav-item a{
        padding-left: 15px;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .iam{
        font-size: 2em;
    }
    .topline{
        text-align: center;
        font-size: 20px;
        letter-spacing: 3px;
    }

}

@media screen and (max-width:767px){
    .img-home{
        display: none
    }
    .text-skill{
        text-align: start;
    }
    .studies-img-container{
        width:600px ;
    }
    .img-studies{
        width: 600px;
    }

}



@media screen and (max-width:576px){

    .proyect-section{
        padding-top: 200px;
    }

    .studies-img-container{
        width:450px ;
    }
    .img-studies{
        width: 450px;
    }
    .form-container{
        width: 470px;
    }
    #text-area{
        width: 440px;
    }


}

@media screen and (max-width:393px){

.proyect-section{
    padding-top: 700px;
}

.section-img-studies{ 
    width: 365px;
    
}

.studies-img-container{
    width: 350px;
}

.img-studies{
    width: 350px;
}

.form-container{
    width: 365px;
}

#text-area{
    width: 340px;
}

}




@media screen and (max-width:270px){

#aboutMe{
    font-size: 25px;
} 

 
    .list-networks{
        width: 240px;
    }

    .list-networks li{
        width: 50px;
    }

    .list-networks li a{
        width:30px ;
    }


#skills-container{
    max-width: 260px;
}


#title-proyects{
    font-size: 18px;
}

.soft-skill-card{
    width: 200px;

}

.soft-skill-name{
font-size: 12px;
margin-right: 20px;

}



#text-area{
    max-width: 230px;
}

.proyect-section{
    padding-top: 950px;
}

.skill-card-body{
    width: 200px;
}


.name-skill{
    font-size: 15px;
}

.form-container{
    width: 245px;
}


.studies-img-container{
  display: none;

}



.name-surname-container{
    margin-right: 50px;
}



}











/*========================MEDIAQUERYS========================*/




